<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/solid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"  />
    <title>social-lyle</title>
</head>
<body>
    
    <!-----------------------NAVBAR------------------------------>
    <nav>
        <div class="container">
            <h2 class="logo" id="{{ current_user.user_id }}">logo</h2>
            <div class="search-bar">
                <i class="uil uil-search"></i>
                <input type="search" name="" id="" placeholder="Search for creators, inspirations and projects.">
            </div>
            <div class="create">
                <button class="btn btn-primary create-post-btn">Create Post</button>
                <div class="profile-photo" id="{{ current_user.user_id }}">
                    <img src="{{ current_user.profile_picture }}" alt="">
                
                </div>
            </div>

            <div class="context-menu">
                <div class="dropdownmenu profile-ctx">
                    <div class="card">
                        <div class="user-profile ctx-menu active">
                            <span>
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                            </span>
                            <small class="active-menu menu-item">Profile</small>
                        </div>
                        <div class="logout ctx-menu">
                            <span>
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                            </span>
                            <a href="{{ url_for('auth.logout') }}">
                                <small class="menu-item">Logout</small>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </nav>

    <!-----------------------MAIN------------------------------>
    <main>

        <div class="container">

            <!---------------MIDDLE------------------------->
            <div class="middle">

                <!------------------- FEEDS --------------------->
                <div class="feeds">

                    {% for post in posts %}

                        <div class="feed" id="{{ post.id }}">

                            <div class="head">
                                <div class="user">
                                    <div class="profile-photo profile-menu" id="{{ post.author.id }}">
                                        <button class="user-profile-btn">
                                            <img src="{{ post.author.profile_picture }}" onclick="viewProfile()" alt="">
                                        </button>
                                    </div>
                                    <div class="ingo">
                                        <h3 class="user-name">{{ post.author.name }}</h3>
                                        <small class="post-id">{{ post.location}}, {{post.date_published}} MINUTES AGO</small>
                                    </div>
                                </div>

                                <span class="edit">
                                    <i class="uil uil-ellipsis-h post-menu-btn"></i>

                                    <div class="post-menu">
                                        <div class="dropdownmenu">
                                            <div class="card">
                                                <div class="befriend ctx-menu">
                                                    <span>
                                                        <i class="fa-solid fa-user-plus" userid="{{ current_user.user_id }}" friendid="{{ post.author.id }}"></i>
                                                    </span>
                                                    <small class="menu-item">Befriend</small>
                                                </div>
                                                <div class="unfriend ctx-menu">
                                                    <span>
                                                        <i class="fa-solid fa-user-minus" user_id="{{ current_user.user_id }}" friend_id="{{ post.author.id }}"></i>
                                                    </span>
                                                    <small class="menu-item">Unfriend</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </span>

                            </div>

                            <div class="post-text text-muted">
                                {{ post.text }}
                            </div>

                            <div class="photo">
                                <img src="{{ post.image }}" alt="">
                            </div>

                            <div class="action-buttons">

                                <div class="interaction-button">
                                    <span>
                                        <i class="fa-regular fa-comment"></i>
                                    </span>
                                    <div class="like-button">
                                        {% if post.like.liked %}
                                            <span>
                                                <i class="fa-solid fa-heart active"></i>
                                            </span>
                                            <span>
                                                <i class="fa-regular fa-heart"></i>
                                            </span>
                                        {% else %}
                                        <span>
                                            <i class="fa-solid fa-heart"></i>
                                        </span>
                                            <span>
                                                <i class="fa-regular fa-heart active"></i>
                                            </span>
                                        {% endif %}
                                    </div>

                                </div>

                                <div class="owner-actions">
                                    {% if current_user.user_id == post.author.id %}
                                        <span>
                                            <i class="fa-regular fa-pen-to-square active"></i>
                                        </span>
                                        <span>
                                            <i class="fa-regular fa-trash-can active"></i>
                                        </span>
                                    {% endif %}
                                    <div class="bookmark">
                                        {% if post.bookmarked %}
                                            <span>
                                                <i class="fa-solid fa-bookmark active"></i>
                                            </span>
                                        {% else %}
                                            <span>
                                                <i class="fa-regular fa-bookmark"></i>
                                            </span>
                                        {% endif %}
                                        
                                    </div>
                                </div>

                            </div>

                            <form class="comment-box comment-form" method="post" action="http://localhost:5000/post/comment?post_id={{ post.id }}&user_id={{ current_user.user_id }}">
                                <div class="create-text">
                        
                                    <div class="profile-photo profile-menu" id="{{ current_user.user_id }}">
                                        <img src="{{ current_user.profile_picture }}" alt="">
                                    </div>
                    
                                    <div class="create">
                                        <input type="text" name="comment-text" placeholder="Comment on {{ post.author.name }}'s post.">
                                    </div>
                                    
                                    <input type="submit" value="Comment" class="btn btn-primary submit-comment">
                                </div>
                            </form>

                            <div class="liked-by">
                                {% for like in post.like.liked_by %}
                                    <span>
                                        <img src="{{ like.profile_picture }}" alt="">
                                    </span>
                                {% endfor %}

                                {% if post.like.likes_count %}
                                    <p>Liked by <b>{{ post.like.key_like.name }}</b> and {{ post.like.likes_count }} others </p>
                                {% endif %}
                                
                            </div>

                            {% if post.key_comment %}
                                
                                <div class="caption">
                                    <p>
                                        <b>{{ post.key_comment.author.name }}</b> {{ post.key_comment.text }}
                                        <span class="hashtag">#lifestyle</span>
                                    </p>
                                </div>

                                <div class="comments text-muted view-comments-btn">
                                    View all {{ post.key_comment.comments_count }} comments
                                </div>

                            {% endif %}

                        </div>
                        
                    {% endfor %}

                </div>


            </div>

        </div>

    </main>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>